@model IEnumerable<Paygenix.Models.EmployeeBenefit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrolledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benefit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benefit.BenefitName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeBenefitID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeBenefitID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeBenefitID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
